/* global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --rabbit-green: #31b5b1;
    --rabbit-orange: #eb7434;
    --rabbit-white: #e8ebea;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--rabbit-white);
    text-align: center;
}

/* header */
header {
    display: flex;
    padding: 20px;
}

header a {
    text-decoration: none;

}

header h2 a  {
    color: black;
}

header h1 a {
    color: var(--rabbit-orange);
}

header h1 a span {
    color: var(--rabbit-green);
}

.header-box {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header-box.left h2 {
    margin-right: auto;
}

.header-box.right h2 {
    margin-left: auto;
}

/* main */
main {
    padding: 100px;
}

.main-box.top h1 {
    font-size: 50px;
    margin: 50px;
}

.main-box.center p {
    font-size: 25px;
    margin: 0 200px 50px 200px;
}

.main-box.bottom button {
    outline: none;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    color: var(--rabbit-orange);
    background: var(--rabbit-green);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    text-shadow: 1px 1px 2px black;
}

.main-box.bottom button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.main-box.bottom button:active {
    box-shadow: 0 0px rgba(0, 0, 0, 1);
}

